<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>321251236345-qbut1u1ajhs1pirftffmdqukcq803hn2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.321251236345-qbut1u1ajhs1pirftffmdqukcq803hn2</string>
	<key>API_KEY</key>
	<string>AIzaSyAbia46qkLHwXVj9gGyJaiF4NRw3sHNbys</string>
	<key>GCM_SENDER_ID</key>
	<string>321251236345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GB.Quarter-1.VK</string>
	<key>PROJECT_ID</key>
	<string>vkapp-b75cf</string>
	<key>STORAGE_BUCKET</key>
	<string>vkapp-b75cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321251236345:ios:f850d89f6ba7da7f17c528</string>
	<key>DATABASE_URL</key>
	<string>https://vkapp-b75cf.firebaseio.com</string>
</dict>
</plist>